<div>
  <app-dashboard></app-dashboard>
    
  <div class="main-panel">
    <div class="content">
        <div class="card">
            <mat-tab-group>
                <mat-tab label="Small Trasher">
                    <app-dashboadpanel></app-dashboadpanel>
                </mat-tab>
                <mat-tab label="Primum Trasher">
                    <app-primum-trasher-panel></app-primum-trasher-panel>
                </mat-tab>
                <mat-tab label="Large Trasher">
                    <app-large-trasher-panel></app-large-trasher-panel>
                </mat-tab>
            </mat-tab-group>
            <!--<app-dashboadpanel></app-dashboadpanel>-->
        </div>
    </div>
  </div>    
</div>

 
