<div>
    <app-user></app-user>
    
    <div class="main-panel">
      <div class="content">
          <div class="container-fluid">
            <div class="row">

              <div class="col-md-8">
                  <div class="card">
                    <app-profile-edit></app-profile-edit>
                  </div>
              </div>
              
              <div class="col-md-4">
                  <div class="card card-profile">
                    <app-change-image></app-change-image>
                  </div>
              </div>

            </div>
          </div>
      </div>
    </div>
</div>



