<button>
  <div class="card card-chart" >
      <div class="card-header card-header">
        <img src="../assets/images/large.jpg" height="200px" width=100%>
      </div>
      <div class="card-body">
        <h2 class="card-title" align="center"><b>Large Trasher</b></h2>
        <hr>
        <p class="card-category">
          <span class="text-success"><i class="material-icons">star</i>Rating of the trasher</span>
        </p>
      </div>
      <hr>
        <div class="stats">
          <p> LKR 5000 per hour</p>
        </div>   
  </div>
</button>