<div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8">
                <div class="card">
                    <app-primum-trasher-video></app-primum-trasher-video>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card card-profile">
                    <app-primum-trasher></app-primum-trasher>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-primum-trasher-comment-box></app-primum-trasher-comment-box>   
            </div>
        </div>
    </div>
</div>
