<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img src="../assets/images/premim.jpg" height="200px" width=100%>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="col-md-2"></div>
            <div class="col-md-9">
                <h3><b>Primum Trasher</b></h3>
                <hr>
                <p> description of the primum trasher</p>
            </div>
            
        </div>
    </div>
</div>
<button type="submit"  class="button button2" (click)="onClose()" style="float: right;" ><h4><b>Close</b></h4></button>
