<div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a  class="simple-text logo-normal" routerLink="">
     <img src="../assets/images/imageLogo.jpg" click="reload()"><b> Trasher</b>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/customer/dashboard">
          <i class="material-icons">home</i>
          <p>Home</p>
        </a>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link" routerLink="/customer/profile">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/customer/buyTrasher">
          <i class="material-icons">shopping_cart</i>
          <p>Buy Trasher</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/customer/getService">
          <i class="material-icons">shop</i>
          <p> Get Service</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/customer/booking">
          <i class="material-icons">today</i>
          <p>Trasher Bookings</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer/SocialEvents">
          <i class="material-icons">shop_two</i>
          <p>Social Events  <span class="label label-danger">FREE !</span></p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/customer/help">
          <i class="material-icons">help</i>
          <p>Help</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  routerLink="/customer/feedback"> 
          <i class="material-icons">speaker_notes</i>
          <p>Feedbacks</p>
        </a>
      </li>
    </ul>
  </div>
</div>
