<div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8">
                <div class="card">
                    <app-large-trasher-video></app-large-trasher-video>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card card-profile">
                <app-large-trasher></app-large-trasher>    
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <app-comment-box></app-comment-box>   
              </div>
        </div>
    </div>
</div>
