<div >
  <div class="row">
    <div class="col-md-4">
        <a routerLink="/customer/help/systemIssue">
            <div class="card">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <mat-card><i class="material-icons" >build</i></mat-card>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <h3><b>System Issue</b></h3>
                    </div>
                </mat-card>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a routerLink="/customer/help/delivaryIssue">
            <div class="card card-profile">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <mat-card><i class="material-icons" >local_shipping</i></mat-card>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <h3><b>Delivary Issue</b></h3>
                    </div>
                </mat-card>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a routerLink="/customer/help/paymentIssue">
            <div class="card card-profile">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <mat-card><i class="material-icons" >money</i></mat-card>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <h3><b>Payment Issue</b></h3>
                    </div>
                </mat-card>
            </div>
        </a>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <a routerLink="/customer/help/userGuide">
          <div class="card">
            <mat-card>
                <div class="row">
                    <div class="col-md-4"></div>
                    <mat-card><i class="material-icons" >import_contacts</i></mat-card>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <h3><b>User guide</b></h3>
                </div>
            </mat-card>
          </div>
        </a>
      </div>
      <div class="col-md-4">
            <a routerLink="/customer/help/bookingIssue">
                <div class="card card-profile">
                    <mat-card>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-card><i class="material-icons" >today</i></mat-card>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <h3><b>Booking Issue</b></h3>
                        </div>
                    </mat-card>
                </div>
            </a>
      </div>
      <div class="col-md-4">
            <a routerLink="/customer/help/otherIssue">
                <div class="card card-profile">
                    <mat-card>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-card><i class="material-icons" >error_outline</i></mat-card>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <h3><b>Other Issue</b></h3>
                        </div>
                    </mat-card>
                </div>
            </a>
      </div>
    </div>
</div>
