<div >
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <mat-card>Simple card</mat-card>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <mat-card>Simple card</mat-card>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <mat-card>Simple card</mat-card>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <mat-card>Simple card</mat-card>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-profile">
              <mat-card>Simple card</mat-card>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-profile">
              <mat-card>Simple card</mat-card>
          </div>
      </div>
    </div>
</div>
