<div>
    <app-user></app-user>
    
    <div class="main-panel">
      <div class="content">
          <div>
            <div class="card">
              <div>
                  <h2 style="text-align: center;color:rgb(34, 154, 235);"><b>All The Previous Invoices</b></h2>
              </div>
              <hr>
              <div >
                <div>
                    <app-previous-invoices></app-previous-invoices>
                </div>

              </div>
            </div>
          </div>
          <hr>
          <div >
            <div class="card">
                <div>
                    <h2 style="text-align: center;color:rgb(34, 154, 235);"><b>Change Profile Details</b></h2>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-8">
                      <div class="card">
                        <app-profile-edit></app-profile-edit>
                      </div>
                  </div>
                  
                  <div class="col-md-4">
                      <div class="card card-profile">
                        <app-change-image></app-change-image>
                      </div>
                  </div>
                </div>
            </div>
          </div>
          <div>
        <!--    <div class="card">
              <div>
                  <h2 style="text-align: center;color:rgb(34, 154, 235);"><b>Other Activities </b></h2>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4">
                    <app-other-activies></app-other-activies>
                </div>
                <div class="col-md-4">
                    <app-other-activies></app-other-activies>
                </div>
                <div class="col-md-4">
                    <app-other-activies></app-other-activies>
                </div>
              </div>
            </div>-->
          </div>
      </div>
    </div>
</div>



