<div>
  <app-social-events></app-social-events>
    
  <div class="main-panel">
    <div class="content">
        <mat-tab-group>
            <mat-tab label="Just get service for social event">
                <app-just-get-service-form></app-just-get-service-form>
            </mat-tab>
            <mat-tab label="Trasher Bookings for social event"> 
              <div >
                <div class="row">
    
                  <div class="col-md-6">
                      <div class="card">
                        <app-calender></app-calender>
                      </div>
                  </div>
                  
                  <div class="col-md-6">
                      <div class="card card-profile">
                          <app-available-slots></app-available-slots>
                      </div>
                      <div class="card card-profile">
                        <a routerLink="/customer/socialEvents/bookingForm">
                          <button type="button" style="float: center;" class="btn btn-info" ><h4><b>New Booking</b></h4></button>
                        </a>
                     </div>
                  </div>
                </div>
              </div>     
            </mat-tab>
        </mat-tab-group>
        <!--<app-dashboadpanel></app-dashboadpanel>-->
    </div>
  </div>    
</div>

 
