<div>
  <app-dashboard></app-dashboard>
    
  <div class="main-panel">
    <div class="content">
        <mat-tab-group>
            <mat-tab label="Small Trasher">
                <app-dashboadpanel></app-dashboadpanel>
            </mat-tab>
            <mat-tab label="Primum Trasher">
                <app-dashboadpanel></app-dashboadpanel>
            </mat-tab>
            <mat-tab label="Large Trasher">
                <app-dashboadpanel></app-dashboadpanel>
            </mat-tab>
        </mat-tab-group>
        <!--<app-dashboadpanel></app-dashboadpanel>-->
    </div>
  </div>    
</div>

 
