<div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="./assets/images/imageLogo.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
        <app-dashboard></app-dashboard>
          
        <div class="main-panel">
          <div class="content">
              <app-dashboadpanel></app-dashboadpanel>
          </div>
        </div>    
    </div>
</div>

 
