
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <app-video></app-video>
          </div> 
        </div>
        <div class="col-md-2">
          <!-- only 269*430 images are allowed -->
            <div class="col-lg-1 col-md-3 col-sm-3"></div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-4"> 
            <app-small-traser></app-small-traser>           
        </div>
        <div class="col-md-4">
            <app-primum-trasher></app-primum-trasher>
        </div>
        <div class="col-md-4">
            <app-large-trasher></app-large-trasher>
        </div>
    </div>
</div>
