<div>
	<agm-map [latitude]="lat" [longitude]="lng" [zoom]=15 >
        <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      
	
		<div class="footer">
			<div class="container">
				<div class="agileits_w3layouts_footer_grids">
					<div class="col-md-4 agileits_w3layouts_footer_grid">
						<h3>Call Us Now</h3>
						<ul>
							<li><span>Office Phone :</span> (011) 1234561</li>
							<li><span>Fax :</span> (011) 123 456 789</li>
						</ul>
					</div>
					<div class="col-md-4 agileits_w3layouts_footer_grid">
						<h3>Address</h3>
						<p>UCSC<i>Colombo 7</i></p>
					</div>
					<div class="col-md-4 agileits_w3layouts_footer_grid">
						<h3>send a message</h3>
						<ul>
							<li><span>Email :</span> <a href="">Trasher1.0@gmail.com</a></li>
							
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				
				<div class="w3_agileits_footer_grids">
					<div class="col-md-4 w3_agileits_footer_grid">
						<p></p>
					</div>
					
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
		