<button mat-button (click)="openDialog()">
    <div class="card card-chart">
        <div class="card-header card-header">
          <img src="../assets/images/small.jpg">
        </div>
        <div class="card-body">
          <h2 class="card-title" align="center"><b>Small Trasher</b></h2>
          <hr>
          <p class="card-category">
            <span class="text-success"><i class="material-icons" align="center">star</i>Rating of the trasher</span> 
          </p>
        </div>
        <hr>
      
          <div class="stats">
            <p>LKR 2000 per hour</p>
          </div>
        
    </div>
</button>
