
  <a (click)="popup()">
  <div class="card card-chart">
      <div class="card-header card-header">
        <img src="../assets/images/small.jpg" height="200px" width=100%>
      </div>
      <div class="card-body">
        <h2 class="card-title" align="center"><b>Small Trasher</b></h2>
        <hr>
        <p class="card-category">
          <span class="text-success"><i class="material-icons" align="center">star</i>Rating of the trasher</span> 
        </p>
      </div>
      <hr>
    
        <div class="stats">
          <p>LKR 2000 per hour</p>
        </div>
  </div>
  </a>


<!--more about small trasher model-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card card-chart">
                <div class="card-header card-header">
                  <img src="../assets/images/small.jpg">
                </div>
                <div class="card-body">
                  <h2 class="card-title" align="center"><b>Small Trasher</b></h2>
                  <hr>
                  <p class="card-category">
                   Short description about the small trasher !
                  </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>