<div class="content">
    <mat-tab-group>
        <mat-tab label="1 hour sections">
            <app-one-hourslot></app-one-hourslot>
            <a routerLink="/customer/booking/bookingForm">
                <button type="button"  class="btn btn-info" ><h4><b>New Booking</b></h4></button>
            </a>
        </mat-tab>
        <mat-tab label="2 hours sections">
            <app-two-hourslot></app-two-hourslot>
            <a routerLink="/customer/booking/bookingForm">
                <button type="button"  class="btn btn-info" ><h4><b>New Booking</b></h4></button>
            </a>
        </mat-tab>
        <mat-tab label=" Cusomize section" >
            <p>Three hours section list</p>
            <a routerLink="/customer/booking/bookingForm">
                <button type="button"  class="btn btn-info" ><h4><b>New Booking</b></h4></button>
            </a>
        </mat-tab>
    </mat-tab-group>
    <!--<app-dashboadpanel></app-dashboadpanel>-->
</div>