agm-map{
    height:400px;
    width : 100%;
   
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button2 {background-color: #008CBA;
            border-radius: 5px;} /* Blue */
  
  .button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button3 {background-color: rgb(233, 18, 36);
            border-radius: 5px;} /* Blue */
            