<div class="card-body">
  <div class="container">
      <div>
          <h2 style="text-align: center;color:rgb(34, 154, 235);"><b>Select the pickup location !</b></h2>
      </div>
      <hr>
    <form>
      <div id="map-canvas"></div>
        <div class="lngLat"><span class="one">Lat</span><span class="two">,Lng</span></div>
          <button id="clipboard-btn" onclick="copyToClipboard(document.getElementById('info').innerHTML)">Copy to Clipboard</button>
          <textarea id="info"></textarea>
      </form>
    </div>
</div>