<div>
  <form #form="ngForm" (submit)="onSubmit(form)" >
    <div class="card-body">
      <div class="container">
          <div>
              <h2 style="text-align: center;color:rgb(34, 154, 235);"><b>Trasher Service Invoice</b></h2>
          </div>
          <hr>
            <div class="row">
                <input  type="hidden" 
                        name="id" 
                        id="id" 
                        [(ngModel)]="getService.getServiceModel.id">
              <div class="input-group input-group-icon">
                  <input  type="text" 
                          placeholder="Customer ID"
                          name="customer_Id"
                          id="customer_id"
                          required
                          [(ngModel)]='getService.getServiceModel.customer_id'/>
                  <div class="input-icon"><i class="fa fa-user"></i></div>
              </div>

              <div class="input-group input-group-icon">
                  <input  type="text" 
                          placeholder="Service Invoice ID"
                          name="invoice_id"
                          id="invoice_id"
                          required
                          [(ngModel)]='getService.getServiceModel.invoice_id'/>
                  <div class="input-icon"><i class="fa fa-user"></i></div>
              </div>

              <div class="input-group input-group-icon">
                <input  type="text" 
                        placeholder="Customer Name"
                        name="customer_name"
                        id="customer_name"
                        required
                        [(ngModel)]='getService.getServiceModel.customer_name'/>
                <div class="input-icon"><i class="fa fa-user"></i></div>
              </div>

              <div class="input-group input-group-icon">
                <input  type="text" 
                        placeholder="Delivary Adress"
                        name="address"
                        id="address"
                        required
                        [(ngModel)]='getService.getServiceModel.address'/>
                <div class="input-icon"><i class="fa fa-home"></i></div>
              </div>

              <div class="input-group input-group-icon">
                <input  type="text" 
                        placeholder="City or District"
                        name="city"
                        id="city"
                        required
                        [(ngModel)]='getService.getServiceModel.city'/>
                <div class="input-icon"><i class="fa fa-building"></i></div>
              </div>

              <div class="input-group input-group-icon">
                  <input type="date" 
                         placeholder="Select the date" 
                         name="date"
                         id="date"
                         required
                         [(ngModel)]='getService.getServiceModel.date'/>
                  <div class="input-icon"><i class="fa fa-calendar"></i></div>
              </div>
                <label class="serchLabel info" (click)="isClick()">Search available time slots</label>
            </div>
            <div *ngIf="availableTimeSlots(); then timeSlotBox;else worningLabel"></div>
            
            <ng-template #timeSlotBox>
              <div >
                <label class="con" >8.00 AM - 9.00 AM 
                  <input type="checkbox" 
                          name="8-9 slot"
                          id="8-9 slot"
                          value="8.00 AM - 9.00 AM"
                          (change)="onCheckboxChange($event)">
                    <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <label class="con">10.00 AM - 11.00 AM
                  <input type="checkbox" 
                         name="10-11 slot"
                         id="10-11 slot"
                         value="10.00 AM - 11.00 AM"
                         (change)="onCheckboxChange($event)">
                    <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <label class="con">12.00 PM - 2.00 PM
                  <input type="checkbox" 
                          name="12-2 slot"
                          id="12-2 slot"
                          value="12.00 PM - 2.00 PM"
                          (change)="onCheckboxChange($event)">
                    <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <label class="con">3.00 PM - 4.00 PM
                  <input type="checkbox" 
                         name="3-4 slot"
                         id="3-4 slot"
                         value="3.00 PM - 4.00 PM"
                         (change)="onCheckboxChange($event)">
                    <span class="checkmark"></span>
                </label>
              </div>
          </ng-template>
            
            <hr>
            <h2 style="text-align: center;color:rgb(34, 154, 235);">Payment Details</h2>
            <h4 style="color:rgb(235, 34, 34);">(* We aditionaly charge 250 LKR )</h4>
              <div class="row">
                <label>Select your bank</label>
                <select>
                  <option>
                    <p>Peoples' Bank</p>
                  </option>
                  <option>
                      <p>Bank of celon</p>
                  </option>
                  <option>
                      <p>Commercial Bank</p>
                  </option>
                  <option>
                      <p>Sampath Bank</p>
                  </option>
                  <option>
                      <p>Haton National Bank</p>
                  </option>
                </select>
              </div>
              <hr>
              <div class="row">
                <div class="input-group input-group-icon">
                  <input type="text" placeholder="Card Number"/>
                  <div class="input-icon"><i class="fa fa-credit-card"></i></div>
                </div>
              </div>
        </div>
        <hr>
        <div >
          <div class="container">
            <div>
              <h2 style="text-align: center;color:rgb(34, 154, 235);"><b>Select the cleaning area </b></h2>
            </div>
            <hr>
            <div id="map"></div>
          </div>
        </div>
    </div>

    <button type="button" class="button1 button3"  data-toggle="modal" data-target=".bd-example-modal-lg" style="align-self: auto;"> Pickup Location </button>
    <!--pickup locaiton model-->

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="card-body">
                <div class="container">
                  <div>
                    <h2 style="text-align: center;color:rgb(34, 154, 235);"><b>Select the pickup location </b></h2>
                  </div>
                  <hr>
                  <agm-map [latitude]="lat" [longitude]="lng" [zoom]=7 (mapClick)="onClickChooseLocation($event)">
                    <agm-marker *ngIf="locationChoosen" [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
                  
                    <button  class="button1 button3"  style="align-self: auto;" (click)="reload()" > SUBMIT </button>
                </div>
              </div>
          </div>
        </div>
    </div>
  </form>
</div>

