  <div class="container">
      <form>
        <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="input-group input-group-icon">
                  <input type="text" placeholder="User Name"/>
                  <div class="input-icon"><i class="fa fa-user"></i></div>
                </div>
                <div class="input-group input-group-icon">
                  <input type="text" placeholder="Home Addres"/>
                  <div class="input-icon"><i class="fa fa-home"></i></div>
                </div>
                <div class="input-group input-group-icon">
                  <input type="text" placeholder="City or Town"/>
                  <div class="input-icon"><i class="fa fa-building"></i></div>
                </div>
                <div class="input-group input-group-icon">
                  <input type="email" placeholder="Email Address"/>
                  <div class="input-icon"><i class="fa fa-envelope"></i></div>
                </div>
                <div class="input-group input-group-icon">
                  <input type="number" placeholder="Phone Number"/>
                  <div class="input-icon"><i class="fa fa-phone"></i></div>
                </div>
              </div>
              <hr>
              <div class="row">
                <h3 style="text-align: center;color:rgb(34, 154, 235);"><b>Changing the password</b></h3>
                <div class="input-group input-group-icon">
                    <input type="password" placeholder="Current password"/>
                    <div class="input-icon"><i class="fa fa-key"></i></div>
                </div>
                <div class="input-group input-group-icon">
                    <input type="password" placeholder="New password"/>
                    <div class="input-icon"><i class="fa fa-key"></i></div>
                </div>
                <div class="input-group input-group-icon">
                  <input type="password" placeholder="Conform password"/>
                  <div class="input-icon"><i class="fa fa-key"></i></div>
                </div>
              </div>
              <div class="row">
                  <button  type="button"  class="btn btn-info" ><h5><b>Update Profile</b></h5></button>  
              </div>
            </div>
          </div>
        </form>
      </div>
 