<div class="card card-chart"> 
  <div class="nav-item active">
      <h1 class="mt-0 font-weight-bold blue-text" style='margin-top:10px;margin-left:10px;margin-right:0;'><b>Comments</b></h1>
  </div>
  <hr>
  <div class="media">
      <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="../assets/images/noImage.png">
      <div class="media-body">
        <h3 class="mt-0 font-weight-bold blue-text">Client 1</h3>
        <p>Comment 1</p>
        <button ><h3><i><u>Reply</u></i></h3></button>
        <div id="reply"></div>
      </div>
    </div>
    <hr>
    <div id="replyBox" class="media mt-3 shadow-textarea">
        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"  src="../assets/images/noImage2.png">
        <div class="media-body">
          <h3 class="mt-0 font-weight-bold blue-text">Client 2</h3>
          <div class="form-group basic-textarea rounded-corners">
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="3" placeholder="Write your comment..."></textarea>
          </div>
        </div>
    </div>
</div>


 