<div style="border-style: outset;">
  <div >
      <h2 style="text-align: center;color:rgb(34, 154, 235);"><b>Change Your Password</b></h2>
      <hr>
      <div class="container">
          <div >
            <div class="row">
                <div class="input-group input-group-icon">
                    <input type="password" placeholder="Current password"/>
                    <div class="input-icon"><i class="fa fa-key"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="input-group input-group-icon">
                    <input type="password" placeholder="New password"/>
                    <div class="input-icon"><i class="fa fa-key"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="input-group input-group-icon">
                    <input type="password" placeholder="Conform password"/>
                    <div class="input-icon"><i class="fa fa-key"></i></div>
                  </div>
            </div>
              
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <label class="button1 button3" (click)="onClose()" >Close</label>
                <button type="submit" class="button button2">Change Password</button>
            </div>
          </div>
      </div>
      
  </div>
</div>

