<div class="card card-chart"> 
  <div class="nav-item active">
      <h1 style="color:rgb(34, 154, 235);"><b>Client's Feedbacks</b></h1>
  </div>
  <hr>
  <div class="media">
      <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="../assets/images/noImage.png">
      <div class="media-body">
        <h3 class="mt-0 font-weight-bold blue-text">Client 1</h3>
        <p>feedback 1</p>
        <button style="color:rgb(34, 154, 235);" ><h3><i><u>Reply</u></i></h3>(onclick get textarea box)</button>
        <div>
         <app-reply-box></app-reply-box>
        </div>
      </div>
    </div>
</div>


